<div class="bg-light px-4 py-3 text-uppercase font-weight-bold">
  Order Summary
</div>
<div class="p-4">
  <p class="font-italic mb-4">
   Shipping costs will be added depending on choices made during checkout
  </p>
  <ul class="list-unstyled mb-4" *ngIf="(basketTotal$ | async) as baskettotal">
    <li class="d-flex justify-content-between py-3 border-bottom">
    <strong class="text-mutted">Order subtotal</strong>
    <strong>{{baskettotal.subtotal}}</strong>
    </li>
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-mutted">Shipping and handling</strong>
      <strong>{{baskettotal.shipping}}</strong>
      </li>
      <li class="d-flex justify-content-between py-3 border-bottom">
        <strong class="text-mutted">Grand Total</strong>
        <strong>{{baskettotal.total}}</strong>
        </li>

  </ul>
</div>
